<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>林口有機聯盟</title>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115160215-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-115160215-1');
  </script>
  <!--新增檔案-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/nav.css">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/supplier.css">
  
</head>

<body>
  <!--導覽列-->
  <header class="cd-auto-hide-header">
    <div class="logo">
      <a href="/">
        <img src="img/透明logo1.gif" alt="Logo">
      </a>
    </div>

    <nav class="cd-primary-nav">
      <a href="#cd-navigation" class="nav-trigger">
        <span>
          <em aria-hidden="true"></em>
          Menu
        </span>
      </a>
      <!-- .nav-trigger -->

      <ul id="cd-navigation">
        <li>
          <a href="/about">關於我們</a>
        </li>
        <li>
          <a href="/mv">聯盟故事微電影</a>
        </li>
        <li>
          <a href="/productListByPage?pageNo=1">我們的商品</a>
        </li>
        <li>
          <a href="/distributors">去哪兒買</a>
        </li>
        <li>
          <a href="/certification">認證資訊</a>
        </li>
        <li>
          <a href="/contact">聯絡我們</a>
        </li>
        <li style="display:inline-flex">
			<% if(login)
			{
				if(user.supplierid){%>
				<button type="button" class="btn btn-outline-secondary btn-lg m-1" onclick="self.location.href='/profilesupplier'">會員專區</button>
				<%}else {%>
				<button type="button" class="btn btn-outline-secondary btn-lg m-1" onclick="self.location.href='/profile'">會員專區</button>
				<% } %> 
				
				<button type="button" class="btn btn-outline-secondary btn-lg m-1" onclick="self.location.href='/logout'">登出</button>
				<% }	
			else
				{%>
						<!--<button type="button" class="btn btn-outline-secondary btn-lg m-1" onclick="self.location.href='/login'">登入</button>-->
						<!---->
						<div class="dropdown login-dropdown" style="display:inline-flex">
							<button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown">登入
								<span class="caret"></span>
							</button>
							<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
								<a class="dropdown-item" href="/login">一般會員</a>
								<a class="dropdown-item" href="/loginsupplier">供應商</a>
							</div>
						</div>
						<!---->
						<div class="dropdown login-dropdown" style="display:inline-flex">
							<button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown">註冊
								<span class="caret"></span>
							</button>
							<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
								<a class="dropdown-item" href="/signup">一般會員</a>
								<a class="dropdown-item" href="/signupsupplier">供應商</a>
							</div>
						</div>
						<% }	
			%>
						<button type="button" class="btn btn-warning m-1 btn-lg my-btn" data-toggle="modal" data-target="#myModal">
							<i class="fas fa-shopping-cart fa-2x"></i>
						</button>
		</li>
      </ul>
    </nav>
    <!-- .cd-primary-nav -->

  </header>
  <!-- .cd-auto-hide-header -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">維修</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          網站試營運，部分功能建構中。
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">關閉</button>
        </div>
      </div>
    </div>
  </div>

  <!--管理者介面-->
  <div class="container">
    <div class="row" style="justify-content:center;">
      <!--管理專區分類-->
      <div class="col-sm-12 col-md-3">
        <div class="card supplier-catalog">
          <div class="card-header sup-cata-title">負責人專區</div>
          <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" href="/supplier" >
              <i class="fas fa-list-alt"></i>訂單清單</a>
			<a class="nav-link" href="/supplierordedit" >
              <i class="fas fa-edit"></i>編輯訂單列表</a>
            <a class="nav-link"  href="/supplierpend" >
              <i class="fas fa-users"></i>分配訂單</a>
			<a class="nav-link"  href="/supplierpendedit" >
              <i class="fas fa-user-edit"></i>編輯分配訂單</a>
            <a class="nav-link"  href="/supplierstatus" >
              <i class="fas fa-truck"></i>訂單狀況</a>
          </div>
        </div>
      </div>

      <!--內容-->
      <div class="col-sm-12 col-md-8">
        <div class="card">
          <div class="tab-content" id="myTabContent">
            <!--新增訂單-->
			
            <div class="tab-pane fade show active" id="newOrder" role="tabpanel" aria-labelledby="newOrder-tab">
			<form role="form" action="/supplierAddPro" method="post" >
              <!--新增訂單按鈕-->
              <a id="add" href="javascript:" onclick="addField()" onclick="self.location.href='/supplier'">
				<button type="button" class="btn btn-primary btn-lg btn-block newOrder-btn" data-toggle="modal" data-target="#NewOrder" data-whatever="@mdo">
                <i class="fas fa-plus-circle" style="margin-right:8px"></i>新增訂單</button>
			  </a>
              <!--新增訂單modal-->
              <div class="modal fade bd-example-modal-lg" id="NewOrder" tabindex="-1" role="dialog" aria-labelledby="NewOrderLabel" aria-hidden="true">
                <div class="modal-dialog  modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="NewOrderLabel">新增訂單</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body sup-newOrder-modal">
                      <form class="sup-newOrder-form">
                        <h3 class="form-title">商品資訊</h3>

                        <div class="form-group row">
                          <label for="OrdDate" class="col-form-label">訂貨日期</label>
                          <div class="col-md-3">
                            <input type="date" name="OrdDate" class="form-control" id="OrdDate" required/>
                          </div>
                          <label for="FinishDate" class="col-form-label">出貨日期</label>
                          <div class="col-md-3">
                            <input type="date" name="FinishDate" class="form-control" id="FinishDate" required/>
                          </div>
                        </div>

                        <!---->
                        <div class="form-group row sup-distriOrder-form ">
                          <label for="selectProName" style="display:none" >商品名稱</label>								  
							<select class="selectProName" style="display:none" id="ProId" >
								<% for(var q=0; q<productData.length; q++){ %>                     
									<option value="<%= productData[q].ProId %>"><%= (productData[q].ProName) %></option>                                
								<% } %>                                                         
							</select>
                          <!--<label for="inputNum">規格</label>
                          <input type="text" class="form-control" name="inputSpecific" id="inputSpecific">
                          <label for="inputNum">數量</label>
                          <input type="text" class="form-control" name="inputNum" id="inputNum">
                          <label for="inputPrice">價格</label>
                          <input type="text" class="form-control" name="inputPrice" id="inputPrice">-->
						  <!--<p>
                            <span id="addPro">新增</span>
                          </p>-->
	

	
						<!--新增欄位--->
						<form> 
						<table border="0" width="540" id="table1"> 
							<tr> 							
								<td width="86" bgcolor="#fff">商品名稱</font></td> 
								<td width="125" bgcolor="#fff">規格</font></td> 
								<td width="125" bgcolor="#fff">數量</font></td> 
								<td width="125" bgcolor="#fff">價格</font></td> 
								
							</tr> 
						</table> 
						<a id="add" href="javascript:" onclick="addField()">
							<button type="button" class="btn btn-success btn-xs" >
								新增商品
							</button>
						</a> 
						
						</form>  
		 
						<script>  
						var countMin = 1;  
						var countMax = 1000000000000000000; //最多幾列  
						function addField() {  
							var table = document.getElementById("table1"); 
							var tr = table.insertRow(-1); 

							var select = document.createElement("select");  
							select.setAttribute("ProId" ,"ProName" ); 
							select.options.add(new Option("請選擇","")) 							
							
							for (var i=0;i<document.getElementById("ProId").length;i++)  
							select.options.add(new Option(document.getElementById("ProId").options[i].innerHTML,document.getElementById("ProId").options[i].value)); 
							 
							var td = tr.insertCell(-1);   	
							td.appendChild(select).name="ProId";
												 
							var td = tr.insertCell(-1);   
							td.innerHTML = "<input type='text' class='form-control' name='inputSpecific' id='inputSpecific' "+tr.rowIndex+"' value='' required/>"; 					 						
						 
							var td = tr.insertCell(-1);   
							td.innerHTML = "<input type='text' class='form-control' name='inputNum' id='inputNum' "+tr.rowIndex+"' value='' required/>"; 	

							var td = tr.insertCell(-1);   
							td.innerHTML = "<input type='text' class='form-control' name='inputPrice' id='inputPrice' "+tr.rowIndex+"' value='' required/>"; 							
						 
							var td = tr.insertCell(-1);   
							td.innerHTML = "<input type='hidden' class='form-control' name='Allowedit' id='Allowedit' "+tr.rowIndex+"' value='0' required/>"; 							
						 						 
							var td = tr.insertCell(-1); 
							//td.innerHTML = "<span name='No' id= 'No'>" + tr.rowIndex + "</span>"; 
							td.innerHTML =  "<input type='text'  class='form-control' name='No' id='No' value='"+tr.rowIndex+"'>"; 
							
							var td = tr.insertCell(-1); 
							td.innerHTML = "<button type='delete' class='btn btn-danger btn-xs' value='刪除' onclick='javascript:delField(this);'>刪除</button>";  
							document.getElementById("add").style.display = table.rows.length == countMax+1 ? "none" : ""; 
						}  
						 
						function delField(obj) {  
							var table = document.getElementById("table1");  
							table.deleteRow(obj.parentNode.parentNode.rowIndex); 
							document.getElementById("add").style.display = "";  
							
							if (table.rows.length > countMin) {
								 var fs = document.getElementById("fieldSpace");
								 fs.removeChild(fs.lastChild);
								 table.rows.length--;
							 }else{
								 alert("欄位數已達下限，請點選''新增商品''按鈕！");
							 }
	 
							/*if  (table.rows.length>1) 
							{ 
								for (i=1;i<table.rows.length;i++) 
								{ 
									table.rows(i).cells(0).innerHTML="<span class=red>" + i.toString() + "</span>"; 
								} 
							} */
						}  
						</script> 
						<!--新增欄位---> 
                        </div>

                        <!---->
                        <h3 class="form-title">顧客資料</h3>
                        <div class="form-group row">
                          <label for="inputCusName" class="col-form-label">廠商名稱</label>
                          <div class="col-md-5">
                            <input type="text" class="form-control" id="CusName" name="CusName" required/>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="inputTel" class="col-form-label">電話</label>
                          <div class="col-md-4">
                            <input type="tel" class="form-control" id="Cellphone" name="Cellphone" required/>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="inputAddress" class="col-form-label">地址</label>
                          <div class="col-sm-6">
                            <input type="text" class="form-control" id="Address" name="Address" required/>
                          </div>
                        </div>
						
						<div class="form-group row" style="display:none">
                          <label for="inputEmail" class="col-form-label">信箱</label>
                          <div class="col-sm-6">
                            <input type="text" class="form-control" id="Email" name="Email" value="test123123@gmail.com">
                          </div>
                        </div>
						<div class="form-group row" style="display:none">
                          <label for="inputAccount" class="col-form-label">帳號</label>
                          <div class="col-sm-6">
                            <input type="text" class="form-control" id="Account" name="Account">
                          </div>
                        </div>
						<div class="form-group row" style="display:none">
                          <label for="inputPassword" class="col-form-label">密碼</label>
                          <div class="col-sm-6">
                            <input type="password" class="form-control" id="Password" name="Password" value="$2a$10$vhLa7MpOdhtIMVzZefvYc.Urave3b6KATX5Iqx2tLkyduV4uRQsjK">
                          </div>
                        </div>

						<!--製表人createid-->
						<input type="hidden" class="form-control" name="createid" value="<%= user.userid %>" >
                      </form>
                    </div>
                    <div class="modal-footer">
					  <button type="reset" class="btn btn-warning btn-lg" style="color:#fff">重設</button>
					
					  
                      <button type="submit" class="btn btn-primary btn-lg" onclick="self.location.href='/supplier'">新增</button>
                      <button type="button" class="btn btn-secondary btn-lg" data-dismiss="modal">取消</button>
                    </div>
                  </div>
                </div>
              </div>
			</form>
			
			
              <!--訂單列表-->
			  <form>
              <h3 class="sup-title">訂單列表</h3>
              <div class="member-panel">
			  <% for(var order=0; order<orderData.length; order++){ %>        
			  <p class="accordion">訂單<%= orderData[order].OrdNo %></p>
                <div class="panel">
                  <!--管理者訂單詳細資料-->
                  <div class="admin-OrderList">
                    <form>
                      <h3 class="form-title">商品資訊</h3>

                      <div class="form-group row">
                        <label>訂單編號:</label>
                        <div class="col-md-2">
                          <p class="pFromDB"><%= orderData[order].OrdNo %></p>
                        </div>
                      </div>

                      <div class="form-group row">
                        <label>訂貨日期:</label>
                        <div class="col-md-3">
                          <p class="pFromDB"><%= myDateFormat(orderData[order].OrdDate) %></p>
                        </div>
                        <label>出貨日期:</label>
                        <div class="col-md-3">
                          <p class="pFromDB"><%= myDateFormat(orderData[order].FinishDate) %></p>
                        </div>
                      </div>
						
					  <div class="form-group row">
					  <table style="width:50%">
						  <tr>
							<th style="border: 1px solid #868e96; font-size:17px ;padding:5px; background-color:#ddd; font-weight:bold">商品名稱</th>
							<th style="border: 1px solid #868e96; font-size:17px ;padding:5px; background-color:#ddd; font-weight:bold">重量</th>
							<th style="border: 1px solid #868e96; font-size:17px ;padding:5px; background-color:#ddd; font-weight:bold">價格</th>
						  </tr>
						  <% for(var orderdetail=0; orderdetail<orderdetailData.length; orderdetail++){ %>        
									
									<% if(orderData[order].OrdNo==orderdetailData[orderdetail].Order_OrdNo){ %>      
						  <tr>
							<td style="border: 1px solid #868e96;padding:2px">
								<% for(var name=0; name<productData.length; name++){ %> 
									<% if(productData[name].ProId==orderdetailData[orderdetail].Product_ProId){ %>    
										<p class="pFromDB"><%= (productData[name].ProName) %></p> 
									<% } %> 
								<% } %> 
							</td>
							<td style="border: 1px solid #868e96;padding:2px"><%= orderdetailData[orderdetail].Quantity*orderdetailData[orderdetail].Weight %>斤</td>
							<td style="border: 1px solid #868e96;padding:2px">$<%= orderdetailData[orderdetail].Quantity*orderdetailData[orderdetail].UnitPrice %></td>
						  </tr>
									<% } %>   
									
						  <% } %>  
					  </table>
					  </div>
						
                     
					  
                      <h3 class="form-title">顧客資訊</h3>
						
					  <% for(var custom=0; custom<customData.length; custom++){ %>    
					  
						<% if(orderData[order].Custom_CusNo==customData[custom].id){ %>   
								 
						  <div class="form-group row">
							<label>廠商名稱:</label>
							<div class="col-md-2">
							  <p class="pFromDB" style="width:100px"><%= customData[custom].CusName %>    </p>
							</div>
						  </div>

						  <div class="form-group row">
							<label>電話:</label>
							<div class="col-md-3">
							  <p class="pFromDB"><%= customData[custom].Cellphone %>    </p>
							</div>
						  </div>
						  <div class="form-group row">
							<label>地址:</label>
							<div class="col-md-6">
							  <p class="pFromDB"><%= customData[custom].Address %>    </p>
							</div>
						  </div>
					  
						<% } %> 
					  
					  <% } %> 
					  
                    </form>
                  </div>
					<form role="form" action="/supplierOkAddPro" method="post" >
					<% for(var pendingpro=0; pendingpro<orderdetailData.length; pendingpro++){ %>    
						<% if(orderData[order].OrdNo==orderdetailData[pendingpro].Order_OrdNo){ %>
						<input type="hidden" class="form-control" value="<%= orderData[order].OrdNo %>" name="ordNo" id="ordNo">
						<% } %> 
					<% } %> 
				   <input type="hidden" class="form-control" name="Allowedit" id="Allowedit" value=1>
				    <% if(user.userid==orderData[order].createid){ %> 
				    <% for(var editord=0; editord<editordData.length; editord++){ %>   
						<% if(editordData[editord].Order_OrdNo==orderData[order].OrdNo){ %> 
							<div class="modal-footer"> 
							  <button type="submit" class="btn btn-primary btn-lg"  onclick="self.location.href='/supplier'">開始分配</button>
						   </div> 
						<% } %>
					<% } %>
					<% } %>
				    
				   </form>
                </div>
					                        
				<% } %> 
                
            </div>
			</form>
			</div>
 
            
			
			
           
          
        </div>
      </div>
    </div>

  </div>




  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
    crossorigin="anonymous"></script>
  <!---->
  <script src="https://cdn.rawgit.com/skipser/youtube-autoresize/master/youtube-autoresizer.js"></script>
  <!--新增input按鈕-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

  <script src="js/main.js"></script>
  <script src="js/mybootstrap.js"></script>

</body>

</html>