<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>林口有機聯盟</title>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115160215-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-115160215-1');
  </script>
  <!--新增檔案-->
  
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/nav.css">
  <!--商品-->
  <link rel="stylesheet" type="text/css" href="css/newpro/animate.css">
  <link rel="stylesheet" type="text/css" href="css/newpro/animsition.min.css">
  <link rel="stylesheet" type="text/css" href="css/newpro/util.css">
  <link rel="stylesheet" type="text/css" href="css/newpro/main.css">
  <link rel="stylesheet" type="text/css" href="css/newpro/mystyle.css">
  <link rel="stylesheet" href="css/main.css">
  
</head>

<body>
  <!--導覽列-->
  <header class="cd-auto-hide-header">
    <div class="logo">
      <a href="/">
        <img src="img/透明logo1.gif" alt="Logo">
      </a>
    </div>

    <nav class="cd-primary-nav">
      <a href="#cd-navigation" class="nav-trigger">
        <span>
          <em aria-hidden="true"></em>
          Menu
        </span>
      </a>
      <!-- .nav-trigger -->

      <ul id="cd-navigation">
        <li>
          <a href="/about">關於我們</a>
        </li>
        <li>
          <a href="/mv">聯盟故事微電影</a>
        </li>
        <li>
          <a href="/productListByPage?pageNo=1">我們的商品</a>
        </li>
        <li>
          <a href="/distributors">去哪兒買</a>
        </li>
        <li>
          <a href="/certification">認證資訊</a>
        </li>
        <li>
          <a href="/contact">聯絡我們</a>
        </li>
        <li style="display:inline-flex">
			<% if(login)
			{
				if(user.supplierid){%>
				<button type="button" class="btn btn-outline-secondary btn-lg m-1" onclick="self.location.href='/profilesupplier'">會員專區</button>
				<%}else {%>
				<button type="button" class="btn btn-outline-secondary btn-lg m-1" onclick="self.location.href='/profile'">會員專區</button>
				<% } %> 
				
				<button type="button" class="btn btn-outline-secondary btn-lg m-1" onclick="self.location.href='/logout'">登出</button>
				<% }	
			else
				{%>
						<!--<button type="button" class="btn btn-outline-secondary btn-lg m-1" onclick="self.location.href='/login'">登入</button>-->
						<!---->
						<div class="dropdown login-dropdown" style="display:inline-flex">
							<button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown">登入
								<span class="caret"></span>
							</button>
							<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
								<a class="dropdown-item" href="/login">一般會員</a>
								<a class="dropdown-item" href="/loginsupplier">供應商</a>
							</div>
						</div>
						<!---->
						<div class="dropdown login-dropdown" style="display:inline-flex">
							<button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown">註冊
								<span class="caret"></span>
							</button>
							<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
								<a class="dropdown-item" href="/signup">一般會員</a>
								<a class="dropdown-item" href="/signupsupplier">供應商</a>
							</div>
						</div>
						<% }	
			%>
						<button type="button" class="btn btn-warning m-1 btn-lg my-btn" data-toggle="modal" onclick="self.location.href='/shoppingcart' ">
							<i class="fas fa-shopping-cart fa-2x"></i>
						</button>
		</li>
      </ul>
    </nav>
    <!-- .cd-primary-nav -->

  </header>
  <!-- .cd-auto-hide-header -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">維修</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          網站試營運，部分功能建構中。
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">關閉</button>
        </div>
      </div>
    </div>
  </div>
		
    <!--商品分類-->
    <div class="container">
			<!----------------------->
			<!-- 查詢              -->
			<!----------------------->
			<form class="navbar-form nav navbar-right" role="search" method="get" action="/productSearchByNameWinter">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="產品名稱 / 部份名稱" id="ProName" name="ProName"/>
				</div> 
				<button type="submit" class="btn btn-default">
					查詢
				</button>
			</form>
			
			<a href="/productListByPage"><img src="img/春夏秋冬/春.JPG" width='170px'></a>
			<a href="/productListByPageSummer"><img src="img/春夏秋冬/夏.JPG" width='170px'></a>
			<a href="/productListByPageFall"><img src="img/春夏秋冬/秋.JPG" width='170px'></a>
			<a href="/productListByPageWinter"><img src="img/春夏秋冬/冬.JPG" width='170px'></a>
			<a href="/productListByPageBud"><img src="img/春夏秋冬/芽菜.JPG" width='170px'></a>
      
			<div class="tab-content" id="pills-tabContent">
			  <!--冬季-->                                        
				<div class="row isotope-grid">
				  <% for(var i=0; i<data.length; i++) {%>
					<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
					  <!-- Block2 -->
					  <div class="block2">
						<div class="block2-pic hov-img0">
						  <img src="img/<%= data[i].Image1 %>">
              <a href="/add-to-cart/<%= data[i].ProName %>"
              class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
							加入購物車
						  </a>
						</div>

						<div class="block2-txt flex-w flex-t p-t-14">
						  <div class="block2-txt-child1 flex-col-l ">
							<a href="/proIntroduction?proNo=<%= data[i].ProId %>" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
							  <%= data[i].ProName %>
							</a>
							<span class="stext-105 cl3">
							  $<%= data[i].ProPrice %>
							</span>
						  </div>
						</div>
					  </div>
					</div>
				  <% } %>
				</div>

			 </div>
			<!------------------------------>
            <!-- 頁碼開始                 -->
            <!------------------------------>       
            <div class="row">
                <div class="col-md-12">
                    <ul class="pagination">
                        <li>
                            <a>第<%=pageNo%>頁</a>
                        </li>                   

                        <% if(startPage>1){ %>
                            <li>
                                <a href="/productListByPageWinter?pageNo=<%=(startPage-1)%>">上一區段...</a>
                            </li>
                        <% } %> 

                        <% for(var i=startPage; i<startPage+linePerPage; i++) {%>
                            <% if(i<=totalPage){ %>
                                <li>
                                    <a href="/productListByPageWinter?pageNo=<%=i%>"><%=i%></a>
                                </li>
                            <% } %> 
                        <% } %>

                        <% if(startPage+linePerPage<totalPage){ %>
                            <li>
                                <a href="/productListByPageWinter?pageNo=<%=(startPage+linePerPage)%>">...下一區段</a>
                            </li>
                        <% } %>                         
                    </ul>
				
                    
                </div>  
            </div>  
            <!------------------------------>
            <!-- 頁碼結束                 -->
            <!------------------------------>

    </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
    crossorigin="anonymous"></script>
  <!---->
  <script src="https://cdn.rawgit.com/skipser/youtube-autoresize/master/youtube-autoresizer.js"></script>
  <script src="js/main.js"></script>
  <script src="js/mybootstrap.js"></script>

</body>

</html>