<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>林口有機聯盟</title>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115160215-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-115160215-1');
  </script>
  <!--新增檔案-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/nav.css">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/supplier.css">
  
</head>

<body>
  <!--導覽列-->
  <header class="cd-auto-hide-header">
    <div class="logo">
      <a href="/">
        <img src="img/透明logo1.gif" alt="Logo">
      </a>
    </div>

    <nav class="cd-primary-nav">
      <a href="#cd-navigation" class="nav-trigger">
        <span>
          <em aria-hidden="true"></em>
          Menu
        </span>
      </a>
      <!-- .nav-trigger -->

      <ul id="cd-navigation">
        <li>
          <a href="/about">關於我們</a>
        </li>
        <li>
          <a href="/mv">聯盟故事微電影</a>
        </li>
        <li>
          <a href="/productListByPage?pageNo=1">我們的商品</a>
        </li>
        <li>
          <a href="/distributors">去哪兒買</a>
        </li>
        <li>
          <a href="/certification">認證資訊</a>
        </li>
        <li>
          <a href="/contact">聯絡我們</a>
        </li>
        <li style="display:inline-flex">
			<% if(login)
			{
				if(user.supplierid){%>
				<button type="button" class="btn btn-outline-secondary btn-lg m-1" onclick="self.location.href='/profilesupplier'">會員專區</button>
				<%}else {%>
				<button type="button" class="btn btn-outline-secondary btn-lg m-1" onclick="self.location.href='/profile'">會員專區</button>
				<% } %> 
				
				<button type="button" class="btn btn-outline-secondary btn-lg m-1" onclick="self.location.href='/logout'">登出</button>
				<% }	
			else
				{%>
						<!--<button type="button" class="btn btn-outline-secondary btn-lg m-1" onclick="self.location.href='/login'">登入</button>-->
						<!---->
						<div class="dropdown login-dropdown" style="display:inline-flex">
							<button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown">登入
								<span class="caret"></span>
							</button>
							<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
								<a class="dropdown-item" href="/login">一般會員</a>
								<a class="dropdown-item" href="/loginsupplier">供應商</a>
							</div>
						</div>
						<!---->
						<div class="dropdown login-dropdown" style="display:inline-flex">
							<button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown">註冊
								<span class="caret"></span>
							</button>
							<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
								<a class="dropdown-item" href="/signup">一般會員</a>
								<a class="dropdown-item" href="/signupsupplier">供應商</a>
							</div>
						</div>
						<% }	
			%>
						<button type="button" class="btn btn-warning m-1 btn-lg my-btn" data-toggle="modal" data-target="#myModal">
							<i class="fas fa-shopping-cart fa-2x"></i>
						</button>
		</li>
      </ul>
    </nav>
    <!-- .cd-primary-nav -->

  </header>
  <!-- .cd-auto-hide-header -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">維修</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          網站試營運，部分功能建構中。
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">關閉</button>
        </div>
      </div>
    </div>
  </div>

  <!--管理者介面-->
  <div class="container">
    <div class="row" style="justify-content:center;">
      <!--管理專區分類-->
      <div class="col-sm-12 col-md-3">
        <div class="card supplier-catalog">
          <div class="card-header sup-cata-title">負責人專區</div>
          <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link" href="/supplier" >
              <i class="fas fa-list-alt"></i>訂單清單</a>
			<a class="nav-link active" href="/supplierordedit" >
              <i class="fas fa-edit"></i>編輯訂單列表</a>
            <a class="nav-link"  href="/supplierpend" >
              <i class="fas fa-users"></i>分配訂單</a>
			<a class="nav-link"  href="/supplierpendedit" >
              <i class="fas fa-user-edit"></i>編輯分配訂單</a>
            <a class="nav-link"  href="/supplierstatus" >
              <i class="fas fa-truck"></i>訂單狀況</a>
          </div>
        </div>
      </div>

      <!--內容-->
      <div class="col-sm-12 col-md-8">
        <div class="card">
          <div class="tab-content" id="myTabContent">
            <!--新增訂單-->
			
            <div class="tab-pane fade show active" id="newOrder" role="tabpanel" aria-labelledby="newOrder-tab">
			
              <!--訂單列表-->
			 
				  <h3 class="sup-title">編輯訂單列表</h3>
				  
				  <% for(var editord=0; editord<editordData.length; editord++){ %>  
				  <% for(var order=0; order<orderData.length; order++){ %>  
				  <% if(orderData[order].OrdNo==editordData[editord].Order_OrdNo){ %>
				  <% if(orderData[order].createid==user.userid){ %>
				  <form role="form" action="/supplierEditPro" method="post" >
				  <div class="member-panel">
				  <p class="accordion">訂單<%= orderData[order].OrdNo %></p>
					<div class="panel" style="overflow:auto;overflow-X:hidden;height:450px;">
					  <!--管理者訂單詳細資料-->
					  

                    <div class="modal-body sup-newOrder-modal">
                      <form class="sup-newOrder-form">
                        <h3 class="form-title">商品資訊</h3>

                        <div class="form-group row">
						  <input type="hidden"  class="form-control" name="orderNo" id="orderNo" value="<%= orderData[order].OrdNo %>">
                          <label for="OrdDate" class="col-form-label">訂貨日期</label>
                          <div class="col-md-4">
                            <input type="date" name="OrdDate" class="form-control" id="OrdDate" value="<%= myDateFormat(orderData[order].OrdDate) %>" >
                          </div>
                          <label for="FinishDate" class="col-form-label">出貨日期</label>
                          <div class="col-md-4">
                            <input type="date" name="FinishDate" class="form-control" id="FinishDate" value="<%= myDateFormat(orderData[order].FinishDate) %>">
                          </div>
                        </div>
					
                        <!---->
                        <div class="form-group row sup-distriOrder-form ">
                          <label for="selectProName" style="display:none" >商品名稱</label>								  
							<select class="selectProName" style="display:none" id="ProId" >
								<% for(var q=0; q<productData.length; q++){ %>                     
									<option value="<%= productData[q].ProId %>"><%= (productData[q].ProName) %></option>                                
								<% } %>                                                         
							</select>
    
	
						<!--新增欄位--->
						<form> 
						<table border="0" width="540" id="table<%=order%>"> 
							<tr> 							
								<td width="86" bgcolor="#fff">商品名稱</font></td> 
								<td width="125" bgcolor="#fff">規格</font></td> 
								<td width="125" bgcolor="#fff">數量</font></td> 
								<td width="125" bgcolor="#fff">價格</font></td> 
								
							</tr> 
						<% for(var orderdetail=0; orderdetail<orderdetailData.length; orderdetail++){ %>    
								
							<% if(orderData[order].OrdNo==orderdetailData[orderdetail].Order_OrdNo){ %>
									
								
							<tr>
								<td>
									<select class="selectProName"  id="ProId" name="ProId" >
										<% for(var q=0; q<productData.length; q++){ %> 
											<% if(productData[q].ProId==orderdetailData[orderdetail].Product_ProId){ %>
											<option style="background:#ddd" value="<%= (productData[q].ProId) %>"><%= (productData[q].ProName) %></option>
											    <% for(var proq=0; proq<productData.length; proq++){ %>              
												<option value="<%= productData[proq].ProId %>"><%= (productData[proq].ProName) %></option>    
												<% } %>  
											<% } %>                                                          
										<% } %>
									</select>
								</td>
								<td>
									<input type="text"  class="form-control" name="inputSpecific" id="inputSpecific" value="<%= orderdetailData[orderdetail].Weight%>">
								</td>
								<td>
									<input type="text"  class="form-control" name="inputNum" id="inputNum" value="<%= orderdetailData[orderdetail].Quantity%>">
								</td>
								<td>
									<input type="text"  class="form-control" name="inputPrice" id="inputPrice" value="<%= orderdetailData[orderdetail].UnitPrice%>">
								</td>
								<td>
									<input type="hidden"  class="form-control" name="No" id="No" value="<%= orderdetailData[orderdetail].SerNo%>">
								</td>
								<td>
									<input type="hidden"  class="form-control" name="Allowedit" id="Allowedit" value="0">
								</td>
								<td>
									<button type='delete' class='btn btn-danger btn-xs' value='刪除' onclick='javascript:delField<%= order %>(this);'>刪除</button>
								</td>
							</tr>
								
									
							<% } %>        
							
						<% } %>  
						</table> 
						<a id="add" href="javascript:" onclick="addField<%=order%>()">
							<button type="button" class="btn btn-success btn-xs" >
								新增商品
							</button>
						</a> 
						
						</form>  
	  
						<script>  
						var countMin = 1;  
						var countMax = 1000000000000000000; //最多幾列  
						function addField<%=order%>() {  
							var table = document.getElementById("table<%=order%>"); 
							var tr = table.insertRow(-1); 

							var select = document.createElement("select");  
							select.setAttribute("ProId" ,"ProName" ); 
							select.options.add(new Option("請選擇","")) 							
							
							for (var i=0;i<document.getElementById("ProId").length;i++)  
							select.options.add(new Option(document.getElementById("ProId").options[i].innerHTML,document.getElementById("ProId").options[i].value)); 
							 
							var td = tr.insertCell(-1);   	
							td.appendChild(select).name="ProId";
												 
							var td = tr.insertCell(-1);   
							td.innerHTML = "<input type='text' class='form-control' name='inputSpecific' id='inputSpecific' "+tr.rowIndex+"' value='' required/>"; 					 						
							
							var td = tr.insertCell(-1);   
							td.innerHTML = "<input type='text' class='form-control' name='inputNum' id='inputNum' "+tr.rowIndex+"' value='' required/>"; 	

							var td = tr.insertCell(-1);   
							td.innerHTML = "<input type='text' class='form-control' name='inputPrice' id='inputPrice' "+tr.rowIndex+"' value='' required/>"; 							
						 
							var td = tr.insertCell(-1);   
							td.innerHTML = "<input type='hidden' class='form-control' name='Allowedit' id='Allowedit' "+tr.rowIndex+"' value='0' required/>"; 							
						 								
							var td = tr.insertCell(-1); 
							//td.innerHTML = "<span name='No' id= 'No'>" + tr.rowIndex + "</span>"; 
							td.innerHTML =  "<input type='hidden'  class='form-control' name='No' id='No' value='"+tr.rowIndex+"'>"; 
							
							var td = tr.insertCell(-1); 
							td.innerHTML = "<button type='delete' class='btn btn-danger btn-xs' value='刪除' onclick='javascript:delField<%=order%>(this);'>刪除</button>";  
							document.getElementById("add").style.display = table.rows.length == countMax+1 ? "none" : ""; 
						}  
						 
						function delField<%=order%>(obj) {  
							var table = document.getElementById("table<%=order%>");  
							table.deleteRow(obj.parentNode.parentNode.rowIndex); 
							document.getElementById("add").style.display = "";  
							
							if (table.rows.length > countMin) {
								 var fs = document.getElementById("fieldSpace");
								 fs.removeChild(fs.lastChild);
								 table.rows.length--;
							 }else{
								 alert("欄位數已達下限，請點選''新增商品''按鈕！");
							 }
	 
							/*if  (table.rows.length>1) 
							{ 
								for (i=1;i<table.rows.length;i++) 
								{ 
									table.rows(i).cells(0).innerHTML="<span class=red>" + i.toString() + "</span>"; 
								} 
							} */
						}  
						</script> 
						<!--新增欄位---> 
                        </div>

                        <!---->
                        <h3 class="form-title">顧客資料</h3>
						<% for(var custom=0; custom<customData.length; custom++){ %>    
					  
							<% if(orderData[order].Custom_CusNo==customData[custom].id){ %>   
                        <div class="form-group row">
						 <input type="hidden" class="form-control" id="id" name="id" value="<%= customData[custom].id %>" >
                          <label for="inputCusName" class="col-form-label">廠商名稱</label>
                          <div class="col-md-5">
                            <input type="text" class="form-control" id="CusName" name="CusName" value="<%= customData[custom].CusName %>" >
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="inputTel" class="col-form-label">電話</label>
                          <div class="col-md-4">
                            <input type="tel" class="form-control" id="Cellphone" name="Cellphone" value="<%= customData[custom].Cellphone %>">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="inputAddress" class="col-form-label">地址</label>
                          <div class="col-sm-6">
                            <input type="text" class="form-control" id="Address" name="Address" value="<%= customData[custom].Address %>">
                          </div>
                        </div>
						
							<% } %> 
						<% } %> 
                      </form>
                    </div>
                    
					
					<div class="modal-footer"> 
                      <button type="submit" class="btn btn-primary btn-lg"  onclick="self.location.href='/supplierordedit'">確認</button>
                    </div>
					
					</div>
											   
				
					
				</div>
				</form>	
				<% } %> 
				<% } %> 
				<% } %> 
				<% } %> 
				
			   
				  
             
           
			
			
			

			</div>
 
            
			
			
           
          
        </div>
      </div>
    </div>

  </div>




  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
    crossorigin="anonymous"></script>
  <!---->
  <script src="https://cdn.rawgit.com/skipser/youtube-autoresize/master/youtube-autoresizer.js"></script>
  <!--新增input按鈕-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

  <script src="js/main.js"></script>
  <script src="js/mybootstrap.js"></script>

</body>

</html>